<div class="text-center">
  <h4 class="display-4">What to Watch app is a place where you can keep tv-showes/movies you watched before your personal raiting and shows like that in order to help your friends pick somthing they could watch next.</h4>
      <div id="AnastasiiaBateman" class="rounded mx-auto d-block"  >
        <%= image_tag('AnastasiiaBateman.jpg', alt: 'Anastasiia Bateman', :size => "380x360" ) %>
      </div>
    <footer class="footer">Created by Anastasiia Bateman, <cite title="Source Title">Code the Dream student</cite></footer>
</div>


