<div class="row">
    <% @shows.each do |show| %>
      <% if show.user == current_user %> 
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbmails">
            <%= link_to show do %>
              <%= image_tag show.image, class: "img-thumbnail" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
</div> 